$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";
@import "~purecss/build/pure-min";
@import "~purecss/build/grids-responsive-min";
@import "~purecss/build/grids-responsive-min";
@import "./marketing";
@import "~slick-carousel/slick/slick";
//@import "~slick-carousel/slick/slick-theme";
//@import "./slick-slide";
@import "~prismjs/themes/prism-coy";


/*
    When setting the primary font stack, apply it to the Pure grid units along
    with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
    specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Helvetica Neue',Helvetica,'Roboto',FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat','Roboto',FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

img.splash-img {
    height: 15vh;
    width: auto;
    bottom: 60vh;
}

.splash {
    top: 85px;
}

.ribbon a,
.footer a {
    color: white;
}

/* // // Simple css for code and pre */
/* pre { */
/*     font-family: "Courier 10 Pitch", Courier, monospace; */
/*     font-size: 95%; */
/*     line-height: 140%; */
/*     white-space: pre; */
/*     white-space: pre-wrap; */
/*     white-space: -moz-pre-wrap; */
/*     white-space: -o-pre-wrap; */
/* } */

/* code { */
/*     font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; */
/*     font-size: 95%; */
/*     line-height: 140%; */
/*     white-space: pre; */
/*     white-space: pre-wrap; */
/*     white-space: -moz-pre-wrap; */
/*     white-space: -o-pre-wrap; */
/*     background: #faf8f0; */
/* } */

/* #content code { */
/*     display: block; */
/*     padding: 0.5em 1em; */
/*     border: 1px solid #bebab0; */
/* } */


/* @import url(https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css); */
/* $lightGray: #fafafa; */
/* $medBlue: #9baecf; */
/* $char: #292929; */

/* body { */
/*     width: 50%; */
/*     margin: 0 auto; */
/*     @media (max-width: 650px) { */
/*         width: 75%; */
/*     } */
/*     @media (max-width: 430px) { */
/*         width: 100%; */
/*     } */
/* } */

/* code, */
/* .code, */
/* pre { */
/*     font-family: 'Source Code Pro'; */
/*     background: $char; */
/*     color: $lightGray; */
/*     font-size: 16px; */
/*     padding: 0; */
/*     padding: 10px; */
/*     &:before { */
/*         display: block; */
/*         width: calc(100%); */
/*         margin-left: -3px; */
/*         margin-top: -3px; */
/*         padding: 3px; */
/*         text-transform: uppercase; */
/*         content: attr(data-lang); */
/*         background: $medBlue; */
/*     } */
/*     .o { */
/*         color: orange; */
/*     } */
/*     .w { */
/*         color: white; */
/*     } */
/* } */


.content.slider {
    position: relative;
}

.fading-left {
    position: absolute;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    float: left;
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.fading-right {
    position: absolute;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    float: right;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}


.customer-logos .slide img {
    width: auto;
    height: 3.5rem;
}
